<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A Letter To Myself</title>
  <link rel="stylesheet" href="/static/css/authentication/index.css" />
</head>
<body>
  <header>
    <h1 class="main-logo">
      <a href="/" style="text-decoration: none; color: #805a46; font-family: 'KCC-Sonkeechung';">
        Letter To Myself
      </a>
    </h1>
  </header>

  <div class="hamburger-btn">
    <img src="/static/images/poststamp.png" alt="우표스티커 UI" width="50px" />
  </div>

  <div class="page_cover"></div>

  <div id="menu">
    <ul class="nav">
      <li><a href="/letters/writing/">편지 쓰기</a></li>
      <li><a href="/letters/letter/">편지 목록</a></li>
      <li><a href="/routines/">편지 루틴</a></li>
      <li><a href="/auth/mypage/">마이페이지</a></li>
      <li><a href="/auth/logout/">로그아웃</a></li>
      <li><a href="/auth/login/">로그인</a></li>
      <li><a href="/auth/signup/">회원가입</a></li>
    </ul>
  </div>

  <script src="/static/js/script.js"></script>

  <section class="hero">
    <h3>나에게 보내는 편지, 오늘 시작해 보세요.</h3>
    <a href="/letters/writing/">
      <img src="/static/images/pencil.png" alt="편지 UI" width="60" style="flex-direction: column" />
    </a>
    <div class="mailbox-container">
      <img src="/static/images/postbox2.png" alt="우체통 UI" width="80%" />
    </div>
  </section>

  <footer>
    <p>&copy; 2025 A Letter To Myself</p>
  </footer>
</body>
</html>
